.aboutWrapper{
    background-color: white;
    padding: 64px;
    margin-top: 45px;
    border-radius: 24px;
    box-shadow: 0px 20px 24px 0px rgba(18, 18, 18, .04);
}
.aboutWrapper h2{
    margin-bottom: 30px;

    font-size: var(--secondaryHeader);
    color: var(--obscureText);
}

.card__container{
    display: flex;
    flex-wrap: wrap;


    justify-content: center;
    align-items: center;
    gap: 3.7vw;
}
.valuesContainer{
    display: grid;
}
.valuesContainer h3{
    font-size: var(--secondaryHeader);    
    text-align: center;
    padding-block: 55px;
    color: var(--obscureText);
}
.careers{
    display: grid;
    place-items: center;
}
.careers__positions{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.careers__positions h4{
    margin-inline: auto;
}
.careers h2, .careers__positions h4{
    padding-block: 80px;
    font-size: var(--secondaryHeader);
    color: var(--obscureText);
}
.Careersbg{
    background-color: white;
}
.offerslist{
    display: grid;
    gap: 20px;
    list-style: none;
}
.careers__positions ul{
    list-style: none;
    padding-left: 0;
}
@media screen and (max-width:1000px) {

    .aboutWrapper h2{
        text-align: center;

    }
}
@media screen and (max-width:870px) {
    .aboutWrapper{
        max-width: 90% ;
        margin-inline: auto;
    }
    .card__container{
        gap: 45px;
    }

}