.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    transition: 500ms ease-in-out;
}
.white{
    background-color: white;
}
.white .navbar{
    padding-block: 20px;
}
.white .navbar .navbar__container .navbar__container_btn {
    background-color: var(--purple);
    color: white;
}
.transp{
    background-color: transparent;
}
/* 128 min height  */
.transp .navbar{
    padding-block: 40px;
}
.navbar{
    
    padding-inline:  24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 300ms ease-in-out;
}

.navbar__container {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.navbar__container_menu{
    display: flex;
    gap: 2.5rem;
    list-style: none;
}
.navbar__container_menu > li a{
    text-decoration: none;
    color: var(--grayText);
    padding-block: 10px;
    border-bottom: 2px solid transparent;
    transition: 300ms ease-in-out;
}
.navbar__container_menu > li a:hover{
    border-color: var(--purple);
}
.navbar__container_btn, .navbar__containermobile_btn{
    background-color: white;
    padding: 10px 34px;
    border-radius: 100px;
    text-decoration: none;
    color: var(--obscurepurple);
    font-weight: 700;

    transition: 300ms ease-in-out;
}
.navbar__container_btn:hover{
    background-color: var(--purple);
    color: white;
}
.menu{
    display: none;
    cursor: pointer;
}
/* mobile styles */
.navbar__containermobile{
    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, black, #0b0e2b);
    padding: 24px 34px;
    transition: 500ms ease-in-out;
    
}
.navbar__containermobile_header img{
    cursor: pointer;
}
.navbar__containermobile_header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar__containermobile_menu{
    list-style: none;
    padding-left: 0;
    display: grid;
    gap: 2rem;
    margin-top: 2.5rem;
}
.navbar__containermobile_menu li{
    text-align: center;
}
.navbar__containermobile_btn{
    margin-top: auto;

}
.navbar__containermobile_menu li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}
.navbar__containermobile_btn{
    margin-top: auto;
    text-align: center;
    width: 50%;
    margin-inline: auto;
}
.active{
    opacity: 1;
    pointer-events: all;
    left: 0;
}

@media screen and (max-width: 900px ) {
    .menu{
        display: block;
    }
    .navbar__container_menu{
        display: none;
    }
    .navbar__container {
        gap: 1.5rem;
    }
    .navbar__container_btn{
        padding: 10px 18px;
    }

}