.join{
    background-color: white;
    padding: 40px;
    margin-block: 80px;
    box-shadow: 0px 20px 24px 0px rgba(18, 18, 18, .06);
    border-radius: 40px;
}
.header{
    font-size: var(--secondaryHeader);
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}
.bottomLine{
    max-width: 864px;
    text-align: center;
    color: var(--grayText);
    font-size: 11px;
    margin-inline: auto;
}
.join form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.join form input, .join form textarea{
    max-width: 864px;
    width: 100%;

    border-radius: 12px;
    border: 1px solid rgba(213, 213, 222, .7);
    padding: 9px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
} 
.join form button{
    width: 100%;
    display: block;
    max-width: 236px;
    border: 1px solid transparent;
    cursor: pointer;
    height: 64px;
    max-height: 64px;
    font-weight: 600;
    background-color: var(--purple);
    color: white;
    border-radius: 100px;
    transition: 300ms ease-in-out;
}
.join form button:hover{
    background-color: white;
    color: var(--purple);
    border-color: var(--purple);
}
